#TODO これを分離する方法がわかりませんでした

<div>
  <%= form.label :content, style: "display: block" %>
  <%= form.text_field :content %>
</div>

<div>
  <%= form.label :commentable_id, style: "display: block" %>
  <%= form.text_field :commentable_id %>
</div>

<div>
  <%= form.submit %>
</div>
